<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="CSI-DTU">
        <meta name="viewport" content = "width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="materialize/css/materialize.css">
        <script src="materialize/js/jquery.js"></script>
        <script src="materialize/js/materialize.js"></script>
        <title>Healthcare</title>
    </head>
    <body>
        <nav>



        </nav>
    </body>
</html>